@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutHienThi.cshtml";
}

<div class="container">
    <p style="text-align: center; font-size: 60px; text-decoration: underline;">LIÊN HỆ</p>
    <p style="font-size: 35px;">Cám ơn bạn đã truy cập vào website NUPITUMI, chúng tôi rất mong muốn và luôn sẵn sàng lắng nghe những thắc mắc, ý kiến phản hồi hay các vấn đề mà bạn đang quan tâm đến các sản phẩm của chúng tôi. Xin hãy liên hệ với chúng tôi theo các mục chi tiết như sau:</p>
    <br />
    <div class="col-md-2"></div>
    <div class="col-md">
        <p style="font-size: 25px;">
            <span style="font-weight: bold;">Liên hệ trực tiếp:</span><br />
            Gọi tổng đài NUPITUMI: <span style="color: red; font-weight: bold;"> 1900 464650 </span><br />
            <i class="fa fa-phone fa-rotate-90"></i>HOTLINE: <span style="color: red; font-weight: bold;">0934 789789 - 0912 004999</span> để được hướng dẫn chi tiết.
        </p><br />

        <p style="font-size: 25px;">
            <span style="font-weight: bold;">Liên hệ: Phản hồi Vấn đề kỹ thuật và ý ‎kiến xây dựng sản phẩm</span><br />
            Chúng tôi rất mong muốn nhận được những phản hồi về kỹ thuật, công nghệ và ý kiến xây dựng sản phẩm, qua đó hoàn thiện tốt hơn sản phẩm.<br />
            Hãy gửi về cho chúng tôi theo địa chỉ: <i class="fa fa-envelope"></i><span style="color: blue; text-decoration: underline;">nupitumi102@gmail.com.</span>
        </p>

    </div>
    <div class="col-md-2"></div>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">